<?xml version="1.0"?>
<plugin id="net.sf.jcommon">
    <extension point="org.datanucleus.java_type">
        <java-type name="net.sf.jcommon.geo.Country" string-converter="net.sf.jcommon.geo.CountryStringConverter" 
            persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Ljava.lang.String;" string-converter="net.sf.jcommon.persistence.ArrayOfStringsToStringConverter" 
            persistent="true" dfg="false" embedded="true" priority="10" />
    </extension>
</plugin>
