<?xml version="1.0"?>
<plugin id="net.sf.jcommon" name="DataNucleus plug-ins" provider-name="jcommon">
	<!-- the converter will be enough only starting with DataNucleus 3.2 -->
    <extension point="org.datanucleus.type_converter">
        <type-converter name="dn.country-string" member-type="net.sf.jcommon.geo.Country" 
        	datastore-type="java.lang.String"
            converter-class="net.sf.jcommon.geo.CountryStringConverter" />
    </extension>
    <!-- the mapping is necessary for DN prior 3.2 -->
    <extension point="org.datanucleus.store_mapping">
        <mapping java-type="net.sf.jcommon.geo.Country" mapping-class="net.sf.jcommon.geo.CountryStringMapping"/>
    </extension>
</plugin>
